@font-face {
    font-family: 'slaytanicregular';
    src: url('slaytanic-webfont.woff2') format('woff2'),
         url('slaytanic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
  height: 105px;
  background-color: #38353C;
}

.navbar-contents {
  width: 700px;
  margin: 0 auto;
  padding-left: 5%;
}

.navbar-logo {
  height: 75px;
  width: 75px;
  border: white;
  border-style: dashed;
  border-radius: 25px;
  border-width: 2px;
  margin-top: 0px;
  padding-top: 0px;
}

.navbar-title {
  padding: 10px;
  width: 70%;
}

.turn-indicator {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 40px;
  font-family: 'Sedgwick Ave Display';
}

#grid {
  width: 450px;
  margin: 0 auto;
  position: relative;
}

.cell {
  height: 150px;
  width: 150px;
  float: left;
  z-index: 1;
}

#box4, #box5, #box6  {
  border-bottom: 4px dashed black;
  border-top: 4px dashed black;
}

#box2, #box5, #box8 {
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.player1cat {
  display: block;
  margin-left: 12px;
  padding-top: 23px;
  position: absolute;
  z-index: 2;
}

.player2cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  margin-left: 8px;
  position: absolute;
  z-index: 2;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.spraypaint {
  position: absolute;
  visibility: hidden;
  z-index: 3;
}

.pink {
  top: 0px;
  left: -20px;
}

.orange {
  top: 180px;
  left: -10px;
}

.purple {
  top: 300px;
  left: -20px;
}

.hotpink {
  top: -70px;
  left: -60px;
}

.green {
  top: 60px;
  left: -50px;
  width: 500px;
}

.blue {
  top: -50px;
  left: 100px;
}


.yellow {
  top: -30px;
  left: -50px;
}

.red {
  top: -40px;
  left: 255px;
}

.play-again {
  width: 75%;
  opacity: 0.3;
  position: absolute;
  visibility: hidden;
  z-index: 4;
  top: 140px;
  left: 40px;
}

body {
 background-color: #000000;
 padding: 0px;
 margin: 0px;
}

#gradient {
  width: 100%;
  height: 700px;
  padding: 0px;
  margin: 0px;
}

.footer {
  background-color: black;
  text-align: center;
  font-family: 'Sedgwick Ave Display';
  height: 40px;
  font-size: 18px;
  padding: 7px;
}

.social-links a {
  position: absolute;
  margin-right: 10px;
  right: 0px;
  width: 30px;
  color: white;
}

.social-links a:hover {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}

.wrap {
  min-height: calc(100vh - 89px);
}
