@font-face {
    font-family: 'slaytanicregular';
    src: url('slaytanic-webfont.woff2') format('woff2'),
         url('slaytanic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
  height: 100px;
  background-color: #38353C;
  border-radius: 0px;
}

.navbar-logo {
  height: 50px;
  width: 50px;
  border: white;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
}

.navbar-title {
  color: white;
  padding: 10px;
  font-size: 50px;
  font-family: 'slaytanicregular';
  display: inline-block;
}

.turn-indicator {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-family: 'Sedgwick Ave Display';

}

#grid {
  width: 450px;
  margin: 0 auto;
  position: relative;
}

.cell {
  height: 150px;
  width: 150px;
  float: left;
  background:rgba(255,255,255,0.1)
  z-index: 1;

}

#box4, #box5, #box6  {
  border-bottom: 4px dashed black;
  border-top: 4px dashed black;
}

#box2, #box5, #box8 {
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.player1cat {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  height: 120px;
  width: 120px;
  position: absolute;
  z-index: 2;
}

.player2cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  height: 130px;
  width: 120px;
  position: absolute;
  z-index: 2;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.spraypaint {
  position: absolute;
  visibility: hidden;
  z-index: 3;
}

.pink {
  top: 0px;
  left: -20px;
}

.orange {
  top: 180px;
  left: -10px;
}

.purple {
  top: 300px;
  left: -20px;
}

.hotpink {
  top: -70px;
  left: -60px;
}

.green {
  top: 60px;
  left: -50px;
  width: 500px;
}

.blue {
  top: -50px;
  left: 100px;
}


.yellow {
  top: -30px;
  left: -50px;
}

.red {
  top: -40px;
  left: 255px;
}

body {
 background-color: #000000;
 padding: 0px;
 margin: 0px;
}

#gradient {
width: 100%;
height: 800px;
padding: 0px;
margin: 0px;
}

.footer {
  background-color: black;
  text-align: center;
  font-family: 'Sedgwick Ave Display';

}

.clear {
  clear: both;
}
